section.b-main-gallery(data-id='main-gallery')
  ._top-line
    .container-fluid
      ._title-wrap
        h1.b-main-title
          span._highlighted Daviani beauty&SPA
          span._content один из лучших салонов премиум класса в Москве
        ._mobile-title
          include ../../../img/index/main/daviani-mobile-title.svg
  .b-collage
    ._inner-wrap
      .container-fluid
        ._diamond-wrap
          ._diamond
            img._diamond-img.lazy(
              src='img/index/collage/dummy/dummy-image-diamond.gif',
              data-src='img/index/collage/diamond.webp',
              alt='',
              width='496',
              height='370'
            )
            ._diamond-flare-wrap
              img._diamond-flare.lazy(
                src='img/index/collage/dummy/dummy-image-flare.gif',
                data-src='img/index/collage/flare.webp',
                alt='',
                width='458',
                height='458'
              )
        ul._list
          li._item
            img._img.lazy(src='img/index/collage/dummy/dummy-image-1.gif', data-src='img/index/collage/image-1.webp', alt='')
          li._item
            img._img.lazy(src='img/index/collage/dummy/dummy-image-2.gif', data-src='img/index/collage/image-2.webp', alt='')
          li._item.-center
            img._img.lazy(src='img/index/collage/dummy/dummy-image-3.gif', data-src='img/index/collage/image-3.webp', alt='')
          li._item
            img._img.lazy(src='img/index/collage/dummy/dummy-image-4.gif', data-src='img/index/collage/image-4.webp', alt='')
          li._item
            img._img.lazy(src='img/index/collage/dummy/dummy-image-5.gif', data-src='img/index/collage/image-5.webp', alt='')
          li._item
            img._img.lazy(src='img/index/collage/dummy/dummy-image-6.gif', data-src='img/index/collage/image-6.webp', alt='')
          li._item
            img._img.lazy(src='img/index/collage/dummy/dummy-image-7.gif', data-src='img/index/collage/image-7.webp', alt='')
