section.b-masters(data-id='masters')
  .container-fluid
    ._top-line
      ._title-wrap
        h2._title.second-title.second-title--light Наши специалисты парикмахерского зала
        ._decor-line
          +icon('golden-decor-line')
      ._slider-btns-wrap
        button._slider-btn.-prev(type='button', aria-label='Master slider previous btn')
          +icon('thin-styled-arrow')
        button._slider-btn.-next(type='button', aria-label='Master slider next btn')
          +icon('thin-styled-arrow')

  .b-masters-slider.swiper._slider
    ._wrapper.swiper-wrapper
      ._item.swiper-slide
        ._card
          ._card-top-line
            ._proffession Косметолог
            ._name Юлия Мартынова
            ._experience-wrap
              span._experience-title Опыт работы:
              span._experience-date 17 лет
            ._desc
              p Косметолог салона Daviani. Специалист авторских массажей лица. Профессиональные навыки: диагностика кожи, владение и выполнение аппаратных методик, эпиляция воском, пирсинг, проведение химических пилингов, проведение механической и атравматической чистки лица. Юлия составляет и выполняет индивидуальные уходовые программы для каждого клиента. Ее сильная сторона в индивидуальном подборе домашнего ухода за лицом по типу кожи - Вы сможете использовать рекомендации Юлии для поддержания результата салонных процедур.
          ._btn-wrap
            a.b-btn.-aic.-bg-dark.-lg.-accent-text.-iconed-right._btn.js-popup.js-popup-additional(
              href='#request-popup',
              data-field='additional',
              data-name='Мастер',
              data-value='Виктор Пустовалов - Массажист'
            )
              span Записаться
              ._icon-wrap
                +icon('expand-styled')
            a.b-btn.-lg.-bg200-text.-link._link(href='#') Подробнее
        ._img-wrap
          img._img.lazy(src='img/index/masters/dummy/dummy-image-1.gif', data-src='img/index/masters/img-1.png', alt='')
      ._item.swiper-slide
        ._card
          ._card-top-line
            ._proffession Массажист
            ._name Виктор Пустовалов
            ._experience-wrap
              span._experience-title Опыт работы:
              span._experience-date 15 лет
            ._desc
              p Отлично выполняет мужские стрижки и авторский расслабляющий массаж головы. Ориентируется в трендах, придерживается современного видения парикмахерского искусства.
          ._btn-wrap
            a.b-btn.-aic.-bg-dark.-lg.-accent-text.-iconed-right._btn.js-popup.js-popup-additional(
              href='#request-popup',
              data-field='additional',
              data-name='Мастер',
              data-value='Виктор Пустовалов - Массажист'
            )
              span Записаться
              ._icon-wrap
                +icon('expand-styled')
            a.b-btn.-lg.-bg200-text.-link._link(href='#') Подробнее
        ._img-wrap
          img._img.lazy(src='img/index/masters/dummy/dummy-image-1.gif', data-src='img/index/masters/img-1.png', alt='')
      ._item.swiper-slide
        ._card
          ._card-top-line
            ._proffession Парикмахер-Стилист
            ._name Дмитрий
            ._experience-wrap
              span._experience-title Опыт работы:
              span._experience-date 15 лет
            ._desc
              p Отлично выполняет мужские стрижки и авторский расслабляющий массаж головы. Ориентируется в трендах, придерживается современного видения парикмахерского искусства.
          ._btn-wrap
            a.b-btn.-aic.-bg-dark.-lg.-accent-text.-iconed-right._btn.js-popup.js-popup-additional(
              href='#request-popup',
              data-field='additional',
              data-name='Мастер',
              data-value='Виктор Пустовалов - Массажист'
            )
              span Записаться
              ._icon-wrap
                +icon('expand-styled')
            a.b-btn.-lg.-bg200-text.-link._link(href='#') Подробнее
        ._img-wrap
          img._img.lazy(src='img/index/masters/dummy/dummy-image-1.gif', data-src='img/index/masters/img-1.png', alt='')
  ._mobile-slider-btns-wrap
  .container-fluid
    ._video-container
      ._video-wrap
        img._video-img.lazy(src='img/index/masters/dummy/dummy-image-video.gif', data-src='img/index/masters/video-bg.webp', alt='')
        a._video-btn(
          href='https://www.youtube.com/watch?v=LTqCP5mRJsg',
          data-fancybox='gallery',
          data-height='900px',
          aria-label='Watch video button'
        )
          include ../../../img/icons/yt.svg
