section.b-services(data-id='services')
  .container-fluid
    h2._title.second-title.second-title--light.second-title--large Идеальная прическа от лучших стилистов Москвы
    ._tab-nav-wrap
      nav.b-tab-nav._tab-nav
        ul._list
          li._item.-active
            a._link(href='#tinting') Окрашивание
              img._link-img.lazy(
                src='img/index/services/dummy/dummy-image-btn-1.gif',
                data-src='img/index/services/btn-bg/image-1.png',
                alt=''
              )
          li._item
            a._link(href='#stylings') Укладки
              img._link-img.lazy(
                src='img/index/services/dummy/dummy-image-btn-2.gif',
                data-src='img/index/services/btn-bg/image-2.png',
                alt=''
              )
          li._item
            a._link(href='#haircuts') Стрижки
              img._link-img.lazy(
                src='img/index/services/dummy/dummy-image-btn-2.gif',
                data-src='img/index/services/btn-bg/image-2.png',
                alt=''
              )
  .container-fluid
    ._tab-content-wrap
      .b-tab-content
        ._bg-icon
          +icon('daviani-bg-logo')
        ._item(data-id='tinting')
          .b-services-card
            ._col.-left
              ._content
                ul._list
                  li._item.-active
                    a._link(href='#image-1', data-price='7 300')
                      ._icon-wrap
                        +icon('arrow-styled-with-line')
                      span Окрашивание волос
                  li._item
                    a._link(href='#image-2', data-price='20 000')
                      ._icon-wrap
                        +icon('arrow-styled-with-line')
                      span Airtouch с тонированием
                  li._item
                    a._link(href='#image-3', data-price='8 700')
                      ._icon-wrap
                        +icon('arrow-styled-with-line')
                      span Окрашивание волос хной
                  li._item
                    a._link(href='#image-4', data-price='5 900')
                      ._icon-wrap
                        +icon('arrow-styled-with-line')
                      span Тонирование волос
                  li._item
                    a._link(href='#image-5', data-price='9 900')
                      ._icon-wrap
                        +icon('arrow-styled-with-line')
                      span Мелирование волос
                  li._item
                    a._link(href='#image-6', data-price='9 900')
                      ._icon-wrap
                        +icon('arrow-styled-with-line')
                      span Окрашивание в технике Шатуш
                ._discount При первом визите -15%
                ._price <span>10 800</span> ₽
                ._btn-wrap
                  a.b-btn.-dark-text.-bg-accent.-iconed-right.-aic.-overlay-white-border.-xl._btn.js-popup.js-popup-additional(
                    href='#request-popup',
                    data-field='service',
                    data-name='Услуга',
                    data-value='Окрашивание волос'
                  )
                    span Записаться
                    ._icon-wrap
                      +icon('arrow-styled-with-line')
            ._col.-right
              ._img-wrap
                img._img.lazy(
                  src='img/index/services/dummy/dummy-image-services.gif',
                  data-src='img/index/services/coloring/image-1.png',
                  alt='',
                  data-id='image-1'
                )
                img._img.lazy(
                  src='img/index/services/dummy/dummy-image-services.gif',
                  data-src='img/index/services/coloring/image-2.png',
                  alt='',
                  data-id='image-2'
                )
                img._img.lazy(
                  src='img/index/services/dummy/dummy-image-services.gif',
                  data-src='img/index/services/coloring/image-3.png',
                  alt='',
                  data-id='image-3'
                )
                img._img.lazy(
                  src='img/index/services/dummy/dummy-image-services.gif',
                  data-src='img/index/services/coloring/image-4.png',
                  alt='',
                  data-id='image-4'
                )
                img._img.lazy(
                  src='img/index/services/dummy/dummy-image-services.gif',
                  data-src='img/index/services/coloring/image-5.png',
                  alt='',
                  data-id='image-5'
                )
                img._img.lazy(
                  src='img/index/services/dummy/dummy-image-services.gif',
                  data-src='img/index/services/coloring/image-6.png',
                  alt='',
                  data-id='image-6'
                )
        ._item(data-id='stylings')
          .b-services-card
            ._col.-left
              ._content
                ul._list
                  li._item.-active
                    a._link(href='#image-1', data-price='4 800')
                      ._icon-wrap
                        +icon('arrow-styled-with-line')
                      span Укладка
                  li._item
                    a._link(href='#image-2', data-price='7 800')
                      ._icon-wrap
                        +icon('arrow-styled-with-line')
                      span Вечерняя укладка
                  li._item
                    a._link(href='#image-3', data-price='7 800')
                      ._icon-wrap
                        +icon('arrow-styled-with-line')
                      span Сложная укладка
                  li._item
                    a._link(href='#image-4', data-price='7 800')
                      ._icon-wrap
                        +icon('arrow-styled-with-line')
                      span Плетение кос
                  li._item
                    a._link(href='#image-5', data-price='7 800')
                      ._icon-wrap
                        +icon('arrow-styled-with-line')
                      span Укладка детская
                ._discount При первом визите -15%
                ._price <span>10 800</span> ₽
                ._btn-wrap
                  a.b-btn.-dark-text.-bg-accent.-iconed-right.-aic.-overlay-white-border.-xl._btn.js-popup.js-popup-additional(
                    href='#request-popup',
                    data-field='service',
                    data-name='Услуга',
                    data-value='Укладка'
                  )
                    span Записаться
                    ._icon-wrap
                      +icon('arrow-styled-with-line')
            ._col.-right
              ._img-wrap
                img._img.lazy(
                  src='img/index/services/dummy/dummy-image-services.gif',
                  data-src='img/index/services/hair-styling/image-1.png',
                  alt='',
                  data-id='image-1'
                )
                img._img.lazy(
                  src='img/index/services/dummy/dummy-image-services.gif',
                  data-src='img/index/services/hair-styling/image-2.png',
                  alt='',
                  data-id='image-2'
                )
                img._img.lazy(
                  src='img/index/services/dummy/dummy-image-services.gif',
                  data-src='img/index/services/hair-styling/image-3.png',
                  alt='',
                  data-id='image-3'
                )
                img._img.lazy(
                  src='img/index/services/dummy/dummy-image-services.gif',
                  data-src='img/index/services/hair-styling/image-4.png',
                  alt='',
                  data-id='image-4'
                )
                img._img.lazy(
                  src='img/index/services/dummy/dummy-image-services.gif',
                  data-src='img/index/services/hair-styling/image-5.png',
                  alt='',
                  data-id='image-5'
                )
        ._item(data-id='haircuts')
          .b-services-card
            ._col.-left
              ._content
                ul._list
                  li._item.-active
                    a._link(href='#image-1', data-price='5 200')
                      ._icon-wrap
                        +icon('arrow-styled-with-line')
                      span Женская стрижка
                  li._item
                    a._link(href='#image-2', data-price='5 900')
                      ._icon-wrap
                        +icon('arrow-styled-with-line')
                      span Мужская стрижка
                  li._item
                    a._link(href='#image-3', data-price='3 100')
                      ._icon-wrap
                        +icon('arrow-styled-with-line')
                      span Детская стрижка
                ._discount При первом визите -15%
                ._price <span>10 800</span> ₽
                ._btn-wrap
                  a.b-btn.-dark-text.-bg-accent.-iconed-right.-aic.-overlay-white-border.-xl._btn.js-popup.js-popup-additional(
                    href='#request-popup',
                    data-field='service',
                    data-name='Услуга',
                    data-value='Женская стрижка'
                  )
                    span Записаться
                    ._icon-wrap
                      +icon('arrow-styled-with-line')
            ._col.-right
              ._img-wrap
                img._img.lazy(
                  src='img/index/services/dummy/dummy-image-services.gif',
                  data-src='img/index/services/haircutting/image-1.png',
                  alt='',
                  data-id='image-1'
                )
                img._img.lazy(
                  src='img/index/services/dummy/dummy-image-services.gif',
                  data-src='img/index/services/haircutting/image-2.png',
                  alt='',
                  data-id='image-2'
                )
                img._img.lazy(
                  src='img/index/services/dummy/dummy-image-services.gif',
                  data-src='img/index/services/haircutting/image-3.png',
                  alt='',
                  data-id='image-3'
                )

  .b-services-banner
    ._img-wrap
      img._img.lazy(src='img/index/services/dummy/dummy-image-banner.gif', data-src='img/index/services/services-banner.webp', alt='')
    ._background-wrap
      ._background
        ._title Высокое качество услуг и безупречный сервис
        p._desc VIP-кабинеты. До 5 услуг оказываем одновременно, где вдали от суеты и глаз можно сделать несколько услуг одновременно, заказав себе обед из ресторана, насладиться им под любимый фильм
